$textcolor: #544837;
$accentcolor: #2F281E;
$orange: #FF9900;
$white: #FFFFFF;
body {
   font-family: 'Poppins', sans-serif;
   font-style: normal;
   font-size: 16px;
   font-weight: 400;
   color: $textcolor; }
button {
   cursor: pointer;
   font-size: 16px;
   line-height: 24px;
   font-family: 'Poppins', sans-serif;
   font-weight: 700; }

* {
   box-sizing: border-box; }
.container {
   max-width: 1124px;
   padding: 0 10px;
   margin: 0 auto; }
a {
   text-decoration: none; }

.title {
   color: $accentcolor;
   font-weight: 700;
}







